
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color:#708090;
  color: white;
  font-family: Garamond;
  font-size: 25px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  
  border-radius: 30px;
  border: 1px solid
  
}

fieldset {
  border: none;
  padding: 2rem 0;}


label {
  display: block;
  margin: 0;
}

input,
textarea,
select {
  margin: 5px 0 0 0;
  width: 100%;
  min-height: 2em;
  font-size: 18px
  
}

input, textarea {
  background-color: white;
  /*border: 1px solid #0a0a23;*/
  color: #0a0a23;
}

.inline {
  width: 20;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  display: inline; 
}

input[type="submit"] {
  display: block;
  
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
  color: white;
}
